---
import Link from "./Link.astro"

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Blog pages">

{
  prevUrl && (
    <Link
      text="Previous"
      href={prevUrl}
      style="primary"
      borderVisible={true}
      isFilled={false}
      icon={{
        name: "ic:twotone-keyboard-arrow-left",
        side: "left",
      }}
      />
  )
}

{
  nextUrl && (
    <Link
      text="Previous"
      href={nextUrl}
      style="primary"
      borderVisible={true}
      isFilled={false}
      icon={{
        name: "ic:twotone-keyboard-arrow-right",
        side: "lef",
      }}
      />
  )
}

</nav>